<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
	  var _YS = _YS || [];
	  _YS.push(['Url','http://127.0.0.1:3000/users?']);
	  _YS.push(['_setAccount', 'YS-Test-1']);
	  //_YS.push(['Action','Title']);
	  //_YS.push(['Target','a','div','button']);
	  // 收集的平台 host，默认不需要配置
	  _YS.push(['systemName','myWap']);
	  // 关闭收集cookie
	  _YS.push(['CookieBool','false']);
	  
	  // 用户自定义收集字段
	  _YS.userConfig = {
	  	  author: '白云飘飘'
	  };
	  _YS.syserror = [];
	  //记录客户端脚本错误  
	  window.onerror = function(error) {
        try {  
            var msg;  
            for (var i = 0; i < arguments.length; i++) {  
                if (i == 0 || i == 2) {  
                    msg += " | " + arguments[i];  
                }  
            }  
            if (msg.length > 0 ) { 
                _YS.syserror.push('syserror:'+msg);
            }     
            return true;  
        } catch (e) { };  
	  };

    </script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
